---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
    {
    title: "Understanding DevRel and The Need",
    description:
      "Learn about the need of Developer Relations, how a DevRel can help and when to hire one.",
    icon: "bx:bxs-book",
  
  },
  {
    title: "Focus Areas",
    description:
      "Learn how to find focus areas and define goals and metrics.  ",
    icon: "bx:bxs-square",
  },
    {
    title: "Community",
    description:
      "Learn all about building and scaling a community.",
    icon: "bx:bxs-user",
  },
  
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Build, learn, and ship - the all-in-one book for your DevRel strategy
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    DevRel in itself includes a lot of "it depends" and it increases even more in a startup. The key lies in effective planning, joining the right dots, and reporting well. This book consists of every tips and tricks that can help you build an effective DevRel program.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
